@model IEnumerable<Lab_1.Models.Trabajadores>

@{
    ViewBag.Title = "Index";
}

<h2>Index Pila</h2>

<p>
    <button type="button" onclick="location.href = '@Url.Action("Create", "Trabajadores")'">Registrar trabajador</button>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sueldoFinal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Citas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Llegada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salida)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BoolOficina)
        </th>
        <th></th>
    </tr>

    @for(int i = )

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sueldoFinal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Citas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Llegada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Salida)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BoolOficina)
        </td>
        
    </tr>
}

</table>

<button type="button" onclick="location.href = '@Url.Action("Index", "Trabajadores")'">Ir a Lista</button>
