@model IEnumerable<Lab_1.Models.Trabajadores>

@{
    ViewBag.Title = "Index";
}

<h2>MENÚ PRINCIPAL</h2>
<h4>Empleados registrados</h4>

<h3>INFORMACION</h3>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HorasTrabajadas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sueldoFinal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Citas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Llegada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salida)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BoolOficina)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HorasTrabajadas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sueldoFinal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Citas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Llegada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Salida)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BoolOficina)
        </td>
    </tr>
}

</table>

<button type="button" onclick="location.href = '@Url.Action("Index", "Pila")'">Ir a Pila</button>
<p>
    @Html.ActionLink("Registrar empleado", "Create")<br />
</p>

<p>@Html.ActionLink("Simular salida", "Salida")</p>
<p>@Html.ActionLink("Simular entrada", "Entrada")</p>


@*BARRAS DE BUSQUEDA*@
<h3>BUSQUEDA</h3>
<tr>
    @using (Html.BeginForm("Resultados", "Trabajadores", FormMethod.Post))
    {
        <input type="text" name="id" id="id" />

        <input type="submit" value="Buscar por Código" />
    }
</tr>
<tr>
    @using (Html.BeginForm("Resultados", "Trabajadores", FormMethod.Post))
    {
        <input type="text" name="nombre" id="nombre" />

        <input type="submit" value="Buscar por nombre" />
    }
</tr>
<tr>
    @using (Html.BeginForm("Resultados", "Trabajadores", FormMethod.Post))
    {
        <input type="text" name="disp" id="disp" />

        <input type="submit" value="Verificar si se encuentra en oficina" />

    }
    <h5>Disponible = "True", No disponible = "False"</h5>
</tr>
<tr>
    @using (Html.BeginForm("Resultados", "Trabajadores", FormMethod.Post))
    {
        <input type="text" name="horas" id="horas" />

        <input type="submit" value="Buscar por horas trabajadas" />
    }
</tr>

